html{
    height: 100%l;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f7f4ef;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    margin: auto; 
    margin-top: 10px;
    gap: 50px;
}

.logo{
    padding-top: 20px;
}

.container{
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 75%;
    max-width: 40em;
    height: 120px;
    border: 2px solid grey;
    overflow: hidden;
}

.cloud{
    position: absolute;
    top: 20px;
    right: 10px;
}

.cloud1{
    position: absolute;
    top: 20px;
    right: 50%;
}

.cloud2{
    position: absolute;
    top: 10px;
    right: 15%;
}

#dino{
    position: absolute;
    left: 110px;
    top: 260px;
}

.jump{
    animation: jumpAnimation 0.5s ease-out;
}

@keyframes jumpAnimation{
    0% { top: 260px;}
    50% { top: 200px;}
    100% { top: 260px;}
}

#start-text{
    position: absolute;
    color: grey;
    left: 35%;
    top: 20%;
    font-size: 20px;
}

.ground{
    position: absolute;
    bottom: 10px;
}

.marquee{
    white-space: nowrap; 
    overflow: hidden; 
    position: relative; 
    color: green;
    margin:0 auto;
}

.marquee span{
    display: inline-block;
    min-width: 200%;
    animation: marquee 20s linear infinite;
}

.marquee2 span{
    animation-delay: 10s;
}

@keyframes marquee{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}

.text{
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 75%;
    max-width: 40em;
}

a{
    color: black;
}

p{
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
}

h4{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-size: 9px;
    font-style: normal;
    display: inline-block;
}

.gallery{
    display: grid;
    margin: auto;
    margin-top: 20px;
    width: 75%;
    max-width: 50em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: stretch;
    gap: 10px;
}

.project{
    border: 2px solid grey;
    overflow: hidden;
    padding: 5px;
    transition: transform .3s;
}

.project:hover{
    transform: scale(1.1);
}

.project img{
    image-rendering: pixelated;
    width: 100%;
    height: auto;
    object-fit: cover;
}
