body{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.container{
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 75%;
    max-width: 40em;
    height: 120px;
    border: 2px solid grey;
    overflow: hidden;
}

.cloud{
    position: absolute;
    top: 20px;
    right: 10px;
}

.dino{
    position: absolute;
    left: 5px;
    bottom: 3px;
}

.ground{
    position: absolute;
    bottom: 10px;
}

.text{
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 75%;
    max-width: 40em;
}

.text p{
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

.gallery{
    display: grid;
    margin: auto;
    margin-top: 20px;
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: start;
    gap: 10px;
}

.project{
    border: 2px solid grey;
    overflow: hidden;
    padding: 5px;
    transition: transform .3s;
    filter: grayscale(1);
}

.project:hover{
    transform: scale(1.1);
    filter: none;
}

.project img{
    image-rendering: pixelated;
    width: 100%;
    height: auto;
    object-fit: cover;
}