html{
    height: 100%l;
    scroll-behavior: smooth;
}

body{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f7f4ef;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    margin: auto; 
    margin-top: 10px;
    gap: 50px;
}

.logo{
    padding-top: 20px;
}

.vine-column {
    position: absolute;
    top: 0;
    width: 70px; /* match your image size */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.vinyl-player{
    position: absolute; 
    top: 1%; 
    left: 7%;
    width: 150px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.vinyl{
    animation: spin 10s linear infinite; 
    transform-origin: center;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.left {
    left: 0;
    margin-left: 1%;
}

.left2 {
    right: 0;
    margin-right: 11%;
    transform: scaleX(-1);
}

.right {
    right: 0;
    margin-right: 2%;
}

.right2 {
    right: 0;
    margin-right: 7%;
}

.vines {
    width: 70px;
    height: 70px;
}

.vines2{
    width: 70px;
    height: 70px;
    transform: scaleX(-1);
}

.flower-segment{
    position: absolute; 
    opacity: 0;
    z-index: 10;
    animation: grow-rotate 5s forwards; 
}

@keyframes grow-rotate{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }
    100%{
        transform: scale(0.2) rotate(260deg);
        opacity: 1;
    }
}

.plants{
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

.drinks{
    display: flex; 
    margin-top: 30px;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

.container{
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 75%;
    max-width: 40em;
    height: 120px;
    border: 2px solid grey;
    overflow: hidden;
}

.cloud{
    position: absolute;
    top: 20px;
    right: 10px;
}

.cloud1{
    position: absolute;
    top: 20px;
    right: 50%;
}

.cloud2{
    position: absolute;
    top: 10px;
    right: 15%;
}

#dino{
    position: absolute;
    left: 110px;
    top: 260px;
}

.jump{
    animation: jumpAnimation 0.5s ease-out;
}

@keyframes jumpAnimation{
    0% { top: 260px;}
    50% { top: 200px;}
    100% { top: 260px;}
}

#start-text{
    position: absolute;
    color: grey;
    left: 35%;
    top: 20%;
    font-size: 20px;
}

.ground{
    position: absolute;
    bottom: 10px;
}

.marquee{
    white-space: nowrap; 
    overflow: hidden; 
    position: relative; 
    color: green;
    margin:0 auto;
}

.marquee span{
    display: inline-block;
    min-width: 200%;
    animation: marquee 20s linear infinite;
}

.marquee2 span{
    animation-delay: 10s;
}

@keyframes marquee{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}

.text{
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 75%;
    max-width: 40em;
}

a{
    color: black;
}

p{
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
}

h4{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-size: 9px;
    font-style: normal;
    display: inline-block;
}

.gallery{
    display: grid;
    margin: auto;
    margin-top: 20px;
    width: 75%;
    max-width: 50em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: stretch;
    gap: 10px;
}

.project{
    border: 2px solid grey;
    overflow: hidden;
    padding: 5px;
    transition: transform .3s;
}

.project:hover{
    transform: scale(1.1);
}

.project img{
    image-rendering: pixelated;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pillar{
    position: absolute;
    width: 70px; /* match your image size */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.bottom{
    bottom: 0;
    left: 5%;
}

.bottomR{
    bottom: 0;
    right: 5%;
}

.footer{
    padding: 10px 0;
}

.footer-links{
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 15px;
}