body, html, #root {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: auto;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
}

.navbar{
  position: sticky; 
  top: 0; 
  z-index: 10; 
  padding: 0.5rem 2rem; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 5px #444;
  background-color: #1f1f1f;
}

.heroLink{
  color: white;
  font-size: 20px;
}

.heroLink:hover{
  color: white;
}

.nav-links a{
  color: white; 
  text-decoration: none;
  padding: 0rem 0.5rem;
}

.nav-links *:hover{
  color: white;
  text-decoration: solid underline blue 3px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 5rem;
}

.left {
  flex: 1;
  min-width: 0;
  overflow-y: scroll;
  padding: 0rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.right {
  width: 45%;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  height: 100vh;
}

@media(max-width: 1000px){
  .right{
    width: 30%;
  }
}

@media(max-width: 650px){
  .right{
    display: none;
  }
  .leeft{
    padding: 0rem 2rem;
  }
}